@import "../../configs/config.scss";

form.routes-form {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;

  input {
    margin: 0.5rem 0;
    padding: 0.5rem;
    border: 1px solid $text-color;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin: 0.5rem 0;
    tbody {
      max-height: 40vh;
      overflow-y: auto;
    }
    th,
    td {
      color: $text-color;
      text-align: center;
      font-size: 0.7rem;
      button {
        background-color: transparent;

        svg {
          font-size: 1rem;
        }
      }
    }

    td {
      height: 52px;
    }
    tr {
      border-bottom: 1px solid $text-color;
    }
  }

  label {
    margin: 0;
    font-size: 0.7rem;
    text-decoration: underline;
    font-style: italic;
    color: $text-color;
  }
}
