@import "../../configs/config.scss";

section.drawer {
  height: 100vh;
  max-height: 100vh;
  overflow-y: auto;
  width: 20vw;
  right: 0;
  top: 0;
  position: absolute;
  background-color: $background-color;
  min-width: 360px;

  div.routes-container {
    div.routes-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 1rem;
      div.routes-header-left {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
      }
    }
  }

  div.footer {
    position: fixed;
    bottom: 0;
    height: 30px;
    width: 20vw;
    min-width: 300px;

    background-color: $background-color-light;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      color: $text-color-dark;
      font-size: 0.8rem;
    }
  }
}
